
:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  input{
    width: 100%;
  }
  
  mat-form-field{
    width: 100%;
  }
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
.container{
  max-width: 1200px;
  margin: 0 auto;
}
  
.no-calendar-icon::-webkit-calendar-picker-indicator {
  display: none;
}
 